<h1> {{ name }}</h1>

<label for="appt-time">Choose a time(mins): </label>
<input id="appt-time" type="string" name="appt-time" value="{{inputTime}}" [(ngModel)] = "inputTime">

<div>
<button  (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button>
<button (click)='resetTimer()'>Reset</button>
</div>


<div id="clockdiv">
  
  <div>
    <span class="hours">{{hrs}}</span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes">{{mins}}</span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds">{{seconds}}</span>
    <div class="smalltext">Seconds</div>
  </div>
</div>